<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type = "text/css" th:href="@{/css/style.css}" />
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Start Time</th>
        <th>Free Seats</th>
        <th>Screen</th>
        <th>Language</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"/>
       <td th:text="${movie.startTime}"/>
        <td th:text="${movie.freeSeats}"/>
        <td th:text="${movie.screen}"/>
        <td th:text="${movie.language}"/>
    </tr>
    </tbody>
</table>
</body>
</html>